.form__input {
	outline: none;
	width: 358px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 580px) {
	.form__input {
		margin-left: 22px;
		width: 238px;
	}
}
